        <div id="foot">

          <header>
            <nav class="navegacion2">
              <ul class="foot">
                <li><a href="/">INICIO</a></li>
                <li><a href="/opiniones">OPINIONES</a></li>
                <!--BOTONES DE HIPERVINCULOS-->

                <div align="center">

                  <a href="https://m.facebook.com/MayoreoColombia1/">
                    <input type="image" src="images/FACEBOOK.png" width="30px" height="40px" />
                  </a>

                  <a href="https://instagram.com/mayoreo.co?utm_medium=copy_link">
                    <input type="image" src="images/INSTAGRAM.png" width="30px" height="40px" />
                  </a>

                </div>

              </ul>

            </nav>

          </header>


          <img src="images/banner.png" alt="banner" width="100%" height="100%">

        </div> <!-- footer -->