          <div id="cuerpo">
               
               <br>
             
               <ul>
               <button v-on:click=cont++>Carrito</button>
               <button v-on:click=cont++>Guardados</button> 
               </ul>
               <br>
               <br>
               <table>
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Uni.</th>
                        <th>Total</th>
                    </tr>
                </thead>
                
                    <tr>
                        
                        <td>------</td>
                        <td>------</td>
                        <td>------</td>
                        <td>------</td>
                        <td>------</td>
                    </tr>
                    <tr>
                        
                        <td>------</td>
                        <td>------</td>
                        <td>------</td>
                        <td>------</td>
                        <td>------</td>
                    </tr>
                    <tr>
                        
                        <td>-------</td>
                        <td>-------</td>
                        <td>-------</td>
                        <td>-------</td>
                        <td>------</td>
                    </tr>
                    <tr>
                        
                      <td>-------</td>
                      <td>-------</td>
                      <td>-------</td>
                      <td>-------</td>
                      <td>------</td>
                    </tr>
                    <tr>
                      <td>-------</td>
                      <td>-------</td>
                      <td>-------</td> 
                      <td>-------</td> 
                      <td>------</td>
                      
                    </tr>
                    
                  
            </table> 
            <br>
            <br>
          </div>
          
