<div class="center-content">

  <div><a href="/stock">Display stock</a></div>

</div>

<div class="center-content">

  <h3>Upload Data</h3>

</div>


<div class="center-content">

  <div class="left-content">

    <!-- autocomplete="off" -->
    <form action="/upload" enctype="multipart/form-data" method="post">
      <!-- <div>Text field title: <input type="text" name="title" id="fileName" /></div> -->

      <!-- <div>
        <p class="my-upload">Archivo:</p> <br><input type="file" name="file1" multiple="multiple" class="my-upload" />
      </div> -->
      <div>
        Archivo: <br><input type="file" name="file1" multiple="multiple" class="input-height">
      </div>

      <div class="my-padding">
        <input type="submit" value="Cargar" class="my-button" />
      </div>


    </form>

  </div>
</div>